[Service]
Type=simple
User=root
WorkingDirectory=/opt/VoiceRecogniseTelegramBot

Environment=HOME=/var/lib/voice-recognise-bot
Environment=XDG_CONFIG_HOME=/var/lib/voice-recognise-bot/.config
Environment=FFMPEG_PATH=/usr/bin
#Environment=VOICE_RECOGNISEBOT_WEB_URLS=http://0.0.0.0:5000

ExecStart=/opt/VoiceRecogniseTelegramBot/VoiceRecogniseBot run bot

Restart=on-failure
RestartSec=10

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/var/lib/voice-recognise-bot
